<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h2>Product detail</h2>
<a th:href="@{/product/list}">Back to product list.</a>
<hr>
<table class="table table-success table-striped">
    <tr>
        <td>Name:</td>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td th:text="${product.price}"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td th:text="${product.description}"></td>
    </tr>
    <tr>
        <td>Producer:</td>
        <td th:text="${product.producer}"></td>
    </tr>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>