<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h2>Update product</h2>
<a th:href="@{/product/list}">Back to product list.</a>
<hr>
<form th:action="@{/product/update}" th:object="${product}" method="post" novalidate="novalidate">
  <table>
    <tr>
      <td>
        <div class="mb-3 form-check">
          <label for="id" class="form-label">Id</label>
          <input type="number" class="form-control" id="id" th:value="${product.id}" th:field="*{id}" readonly />
        </div>
      </td>
      <td>
        <div class="mb-3 form-check">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" th:value="${product.name}" th:field="*{name}" >
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="mb-3 form-check">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" th:value="${product.price}" th:field="*{price}">
        </div>
      </td>
      <td>
        <div class="mb-3 form-check">
          <label for="des" class="form-label">Description</label>
          <input type="text" class="form-control" id="des" th:value="${product.description}" th:field="*{description}">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="mb-3 form-check">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </td>
      <td>
        <div class="mb-3 form-check">
          <label for="producer" class="form-label">Producer</label>
          <input type="text" class="form-control" id="producer" th:value="${product.producer}" th:field="*{producer}">
        </div>
      </td>
    </tr>

  </table>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

</form>
</body>
</html>