<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .product-card {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
        .product-details {
            flex-grow: 1;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-3">Danh sách sản phẩm</h1>
    <a href="/shopping-cart">Your cart</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Detail</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.id}" scope="row"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/detail/{id}(id=${product.id})}">Detail</a><td>
            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>